<form [formGroup]="studentForm">
    <label>Nom
        <input id="name" type="text" formControlName="name" />
    </label>
    <label>Note
        <input type="number" formControlName="grade" />
    </label>
    <label>Email
        <input type="email" formControlName="email" />
    </label>
    <label>Code postal
        <input type="text" formControlName="postcode" />
    </label>
    <button [disabled]="studentForm.invalid">Valider</button>
</form>

<div>Name value: {{ studentForm.controls['name'].value }}</div>
<div>Formulaire valide: {{ studentForm.valid }}</div>
